 :root {
    --primary-color: #333;
    --secondary-color: #666;
    --background-color: #f4f4f4;
    --border-color: #ddd;
    --highlight-color: #007bff;
    --error-color: #dc3545;
    --success-color: #28a745;
    --color-disabled: #767879;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primary-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Ensure space between heading and buttons */
    width: 100%; /* Full width of the container */
}

nav {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    z-index: 998;
    
}

button {
    background-color: var(--highlight-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 1em;
}

button:hover {
    background-color: #0056b3;
}

main {
    padding: 2rem;
}

.collapsible {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.collapsible h2 {
    padding: 1rem;
    margin: 0;
    cursor: pointer;
}

.collapsible .content {
    display: none;
    padding: 1rem;
}

.toggle-icon {
    float: right;
}

.unit-panel {
    position: relative;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.activity-card {
    display: inline-block;
    width: 200px;
    height: 290px;
    margin: 0.5rem;
    border-radius: 8px;
    vertical-align: top;
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    /*overflow: hidden; */
    z-index: 999;
}

.activity-card .title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin: 0 0 5px 0;
    font-size: 1.1em;
}

.activity-card-clickable {
    height: 90%;
    cursor: pointer;
}

.activity-card-content {
    padding: 10px;
    height: 90%;
    cursor: pointer;
    overflow: hidden;
 
}

.activity-card-content:hover {
    background-color: #f6f92d;
}

.activity-title {
    margin: 0 0 5px 0;
    font-size: 1.1em;
}

.activity-description {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}

.assessed-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: rgba(255, 0, 157, 0.801);
    font-size: 2em;
}

.activity-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: #f0f0f0;
}

.activity-buttons button {
    margin-left: 5px;
    padding: 3px 6px;
    font-size: 0.8em;
}

.activity-card.expanded {
    z-index: 997;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
}

.activity-card.expanded .activity-card-content {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    overflow-y: auto; /* Add vertical scroll bars if the text overflows */
}

.activity-type-acquisition { background-color: salmon; }
.activity-type-practice { background-color: pink; }
.activity-type-investigation { background-color: orange; }
.activity-type-reflection { background-color: gold; }
.activity-type-production { background-color: thistle; }
.activity-type-discussion { background-color: lightgreen; }
.activity-type-cooperation { background-color: lightblue; }
.activity-type-collaboration { background-color: bisque; }

/* Ensure text is readable on all background colors */
.activity-card h4,
.activity-card p {
    color: #333;
}

.activity-card .delete-btn,
.activity-card .clone-btn,
.activity-card .edit-btn {
    position: absolute;
    top: 0.5rem;
    width: 24px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    scroll-behavior: auto;
}

.activity-card .delete-btn {
    right: 0.5rem;
}

.activity-card .clone-btn {
    right: 2rem;
}

.activity-card .edit-btn {
    right: 3.5rem;
}

.activity-assessed {
    text-align: center;
    text-decoration-color: yellow;
    border: red 2px solid;
}


.activity-card, .add-activity-button {
    width: 200px; 
    height: 290px; 
    
}

.add-activity-button {
    width: 200px;
    height: 290px;
    margin: 0.5rem;
    border-radius: 8px;
    vertical-align: top;
    position: relative;
    border: 2px solid #111010;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50; /* Green background */
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    clear: both;
}

.add-activity-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.plus-icon {
    color: white;
    font-size: 64px;
    font-weight: bold;
}

.add-activity-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5); /* Green glow on focus */
}

.add-activity-btn::before {
    content: "+";
    margin-right: 5px;
    font-weight: bold;
    font-size: 20px;
}


.collapse-activity {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #aca2a2;
    border: none;
    text-align: center;
    cursor: pointer;
}

.collapse-activity:hover {
    background-color: #595858;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1111;
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid var(--border-color);
    width: 80%;
    max-width: 800px;
    border-radius: 4px;
}

.popup h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
}

input[type="text"],
input[type="number"],
select,
textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 95%;
    margin-right: 5%;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
    margin-right: 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.activity

.unit-panel {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
    min-height: 500px;
    overflow: hidden;
}

.unit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cec5c5;
    padding: 10px 15px;
    cursor: pointer;
}

.unit-header:hover{
    background-color: #ebe1e1;
}
.unit-title {
    margin: 0;
    font-size: 1.2em;
}

.unit-buttons {
    display: flex;
}

.unit-buttons button {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #676b68;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.unit-buttons button:hover {
    background-color: #d0d0d0;
}

.unit-buttons .add-activity-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.unit-buttons .add-activity-btn:hover {
    background-color: #45a049;
}

.unit-buttons .move-unit-up,
.unit-buttons .move-unit-down {
    background-color: #676b68;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    padding: 2px 6px;
    margin-right: 5px;
}

.unit-buttons .move-unit-up:hover,
.unit-buttons .move-unit-down:hover {
    background-color: #e0e0e0;
}

.unit-buttons .move-unit-up:focus,
.unit-buttons .move-unit-down:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}


.unit-collapsible {
    padding: 15px;
    border-top: 1px solid #ddd;
}

.activities-container {
    padding: 15px;
    margin-bottom: 10px;

}

.activities-section {
    margin-top: 15px;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
    min-height: 330px;
}


.course-info-header {
    background-color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    position: fixed;
    top: 158px; /* Adjust this value based on where you want the header to stay */
    width: 95%; /* Make sure it spans the full width */
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

.course-info-header:hover {
    background-color: #e5e5e5;
}

#courseInfo {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Make sure it's on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    overflow: hidden; /* Prevent overflow issues */
}

/* Course info content inside the modal */
.course-info-content {
    background-color: white; /* Ensure content has a solid background */
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%; /* Adjust as necessary */
    max-height: 80%; /* Allow for scrolling */
    overflow-y: auto; /* Scroll content if it's too large */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add some depth */
    position: relative;
    z-index: 1001; /* Ensure it’s on top of the semi-transparent background */
}

.course-info-content.show {
    display: block; /* Show when .show class is present */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    right: 30px;
    position: absolute;
}

.close-button:hover,
.close-button:focus {
    color: black;
}

.toggle-icon {
    float: right;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    overflow-y: auto; /* Allow scrolling for the entire popup */
}
.popup-content {
    position: relative; /* Changed from fixed to relative */
    margin: 5% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 800px;
    width: 90%;
    max-height: 90%; /* Ensure the content doesn't exceed the viewport height */
    overflow-y: auto; /* Allow scrolling within the content area */
}
/* New styles for calculator button and layout */
.study-hours-container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.calculator-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


/* Unit navigation styling */
.unit-navigation {
    margin-top: 10px;
    font-size: 0.9em;
}

.unit-link {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

.unit-link:hover {
    text-decoration: underline;
}

/* The scrollable content after the sticky header */
.course-info-scrollable {
    padding-top: 10px;
}

/* Optional styling for overall layout */
#courseInfo {
    margin: 20px;
}

#activityTypePieChart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Two equal-width columns */
    gap: 10px; /* Optional: space between the columns */
}
.plo-item {

    width: 98%;
}

#unit-nav{
    background-color: var(--primary-color);
    color: #fff;
    text-align: right;
    padding: 1rem;
    position: sticky;
    top: 80px;
    z-index: 1000;
}

#courseHeading {
    height: fit-content;
    max-width: 100%; /* Ensure it doesn't overflow */
    overflow: hidden; /* Hide any overflow content */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: normal; /* Allow text to wrap */
    flex-grow: 1; /* Allow the heading to grow and shrink with the container */
    min-width: 0; /* Prevent the heading from overflowing its container */
    word-wrap: break-word; /* Break words if necessary */
    align: left;
}

#programLearningOutcomes .plo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#programLearningOutcomes .plo-item input {
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}

#programLearningOutcomes .plo-item button {
    margin-left: 10px;
}

#programLearningOutcomes .plo-item select {
    margin-left: 10px;
    width: 100px;
}

.clo-item {
    margin-bottom: 15px;
}

.clo-handle {
    display: inline-block;
    margin-right: 10px;
}

.map-plo-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.map-plo-container > label {
    margin-right: 10px;
    white-space: nowrap;
    
}

.plo-checkboxes {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-right: 10px;
    overflow-x: auto;
}

.plo-checkboxes label {
    white-space: nowrap;
}

.removeCLO {
    margin-left: 10px;
}

#teamMembersContainer {
    margin-top: 10px;
}

#teamMembersContainer .team-member {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#teamMembersContainer .team-member input {
    margin-right: 5px;
}

#teamMembersContainer .team-member button {
    margin-left: 10px;
}
.aligned-tables {
    display: fixed;
    height: 100%;   
}

.aligned-table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
    display: fixed;
}

.aligned-table tr {
    border: #0056b3;
}

.aligned-table td {
    height: 50px;

}